<!-- quizzes/templates/quizzes/quiz_settings.html -->
{% extends 'base.html' %}
{% load dict_filter %}

{% block title %}Quiz Settings - Pimp My English{% endblock %}

{% block content %}

    <div class="winners-results fit-content scroll-wrapper">
        <div class="close-button-div">
            <button id="closeButtonSettings" class="close-button">x</button>
        </div>
        <form id="settings-form" method="post" action="{% url 'submit_quiz_settings' %}">
            {% csrf_token %}
            <table id="settings-table" class="winners-table">
                <caption>Settings</caption>
                <thead>
                    <tr>
                        <th>pp</th>
                        <th>Describe</th>
                        <th>Name</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="highlight">
                        <td data-label="pp">1</td>
                        <td data-label="Describe">Available WordSets</td>
                        <td data-label="Name">WordSet</td>
                        <td data-label="Values">
                            <select id="word-set-select">
                                <option value="">Select Word Set</option>
                                <!-- Options will be dynamically populated -->
                            </select>
                            <div id="word-set-description" class="description-field"></div>
                        </td>
                    </tr>
                    <tr class="highlight">
                        <td data-label="pp">2</td>
                        <td data-label="Describe">Total number of words for quiz</td>
                        <td data-label="Name">Total Words</td>
                        <td data-label="Values">
                            <label for="word-count-slider"><span id="word-count-label">{{ word_count }} / {{ max_word_count }}</span> words</label>
                            <input type="range" id="word-count-slider" name="word_count" min="3" max="{{ max_word_count }}" value="{{ word_count }}">
                        </td>
                    </tr>
                    <tr class="highlight">
                        <td data-label="pp">3</td>
                        <td data-label="Describe">CEFR levels of words for quiz ('A1', 'B1', 'B2' etc.)</td>
                        <td data-label="Name">CEFR Levels</td>
                        <td data-label="Values">
                            <div id="cefr-level-selection">
                                {% for level in cefr_levels %}
                                    <label>
                                        <input id="cefr-checkbox-{{ level }}" type="checkbox" name="cefr_levels" value="{{ level }}"
                                               data-count="{{ cefr_counts|dict:level }}" 
                                               {% if cefr_counts|dict:level > 0 and level in selected_cefr_levels %}checked{% endif %}
                                               {% if cefr_total_counts|dict:level == 0 %}disabled{% endif %}>
                                        {{ level }} (<span id="cefr-level-count-{{ level }}">{{ cefr_counts|dict:level }} / {{ cefr_total_counts|dict:level }}</span> words)
                                    </label>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="highlight">
                        <td data-label="pp">4</td>
                        <td data-label="Describe">Types of words for quiz ('noun', 'adjective' etc.)</td>
                        <td data-label="Name">Word Types</td>
                        <td data-label="Values">
                            <div id="wordtype-level-selection">
                                {% for word_type in word_types %}
                                    <label>
                                        <input id="words-types-checkbox-{{ word_type }}" type="checkbox" name="word_types" value="{{ word_type }}"
                                               data-count="{{ word_type_counts|dict:word_type }}" 
                                               {% if word_type_counts|dict:word_type > 0 and word_type in selected_word_types %}checked{% endif %}
                                               {% if word_type_total_counts|dict:word_type == 0 %}disabled{% endif %}>
                                        {{ word_type }} (<span id="words-types-count-{{ word_type }}">{{ word_type_counts|dict:word_type }} / {{ word_type_total_counts|dict:word_type }}</span> words)
                                    </label>
                                {% endfor %}
                            </div>
                        </td>                    
                    </tr>
                    <tr class="highlight">
                        <td data-label="pp">5</td>
                        <td data-label="Describe">Words in WordSet</td>
                        <td data-label="Name">Words in Set</td>
                        <td data-label="Values">
                            <div id="filtered-words"></div>
                        </td>
                    </tr>
                    <tr class="highlight">
                        <td data-label="pp">6</td>
                        <td data-label="Describe">Words not used in WordSet</td>
                        <td data-label="Name">Unused Words</td>
                        <td data-label="Values">
                            <div id="unused-words"></div>
                        </td>
                    </tr>
                    <tr class="highlight total">
                        <td colspan="4" class="reset-settings-default">
                            <button id="resetSettingsDefault" type="button" class="settings-button">Reset</button>
                            <button id="startQuizButton" type="button" class="settings-button">Start</button>
                            <button id="createWordSetButton" type="button" class="settings-button">Create</button>
                            <button id="saveWordSetButton" type="button" style="display:none;" class="settings-button">Update</button>
                            <button id="deleteWordSetButton" type="button" style="display:none;" class="settings-button">Delete</button>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </form>
    </div>
    <div id="hidden-filtered-words" data-words="{{ filtered_words|safe }}" style="display: none;"></div>
    <div id="hidden-unused-words" data-words="{{ unused_words|safe }}" style="display: none;"></div>
    
    <!-- Modal for creating WordSet -->
    <div id="createWordSetModal" class="modal winners-results fit-content">
        <form id="createWordSetForm" class="modal-content">
            <table id="wordset-create" class="winners-table">
                <caption>Create WordSet <span class="close-modal">&times;</span></caption>
                <tbody>
                    <tr class="highlight">
                        <td>WordSet Title:</td>
                        <td colspan="2">
                            <input type="text" id="wordSetTitle" name="wordSetTitle" placeholder="Input Title ..." required>
                        </td>
                    </tr>
                    <tr class="highlight">
                        <td>Description:</td>
                        <td colspan="2">
                            <textarea id="wordSetDescription" name="wordSetDescription" class="full-width" placeholder="Input Description ..."></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button type="submit" class="submit-button">Submit</button>
                        </td>
                    </tr>
                    <tr class="highlight">
                        <td colspan="3">Filtered Words:</td>
                    </tr>
                    <tr class="highlight">
                        <td colspan="3">
                            <div id="filtered-words-list"></div>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    
    <!-- Toast notification container -->
    <div id="toast-container"></div>
    <div id="spinner" class="spinner" style="display: none;"></div>


<script>
class QuizSettings {
    constructor() {
        this.settings = {
            cefr_levels: {{ cefr_levels|safe }},
            word_types: {{ word_types|safe }},
            is_grow: true,
            isSettingsChange: null,
            total_word_count: {{ word_count }},
            word_set: null,
            filtered_words: this.getFilteredWordsFromDiv(),
            unused_words: this.getUnusedWordsFromDiv(),
            use_filtered_words: false,
        };

        this.init();
    }

    init() {
        this.cacheDomElements();
        this.previousTotalChecked = this.getTotalChecked();
        this.bindEvents();
        this.populateFilteredWords();
        this.populateUnusedWords();
        this.loadWordSets();  // Load WordSets options
    }

    cacheDomElements() {
        this.wordCountSlider = document.getElementById("word-count-slider");
        this.wordCountLabel = document.getElementById("word-count-label");
        this.closeButtonSettings = document.getElementById('closeButtonSettings');
        this.resetButton = document.getElementById('resetSettingsDefault');
        this.cefrCheckboxes = document.querySelectorAll('input[name="cefr_levels"]');
        this.wordTypeCheckboxes = document.querySelectorAll('input[name="word_types"]');
        this.wordSetSelect = document.getElementById("word-set-select");
        this.wordSetDescriptionDisplay = document.getElementById("word-set-description");
        this.startQuizButton = document.getElementById("startQuizButton");
        this.createWordSetButton = document.getElementById("createWordSetButton");
        this.saveWordSetButton = document.getElementById("saveWordSetButton");
        this.deleteWordSetButton = document.getElementById("deleteWordSetButton");
        this.filteredWords = document.getElementById("filtered-words");
        this.unusedWords = document.getElementById("unused-words");

        this.hiddenFilteredWords = document.getElementById("hidden-filtered-words");
        this.hiddenUnusedWords = document.getElementById("hidden-unused-words");

        this.createWordSetModal = document.getElementById("createWordSetModal");
        this.createWordSetForm = document.getElementById("createWordSetForm");
        this.wordSetTitle = document.getElementById("wordSetTitle");
        this.wordSetDescription = document.getElementById("wordSetDescription");
        this.filteredWordsList = document.getElementById("filtered-words-list");
        this.toastContainer = document.getElementById("toast-container");
    }

    bindEvents() {
        if (this.closeButtonSettings) {
            this.closeButtonSettings.addEventListener('click', () => {
                window.location.href = '/';  // Redirect to home page or another page
            });
        }

        if (this.wordCountSlider && this.wordCountLabel) {
            this.wordCountSlider.addEventListener("input", () => {
                this.updateSliderLabel();
            });

            this.wordCountSlider.addEventListener("change", () => {
                this.handleSliderChange();
            });
        }

        const checkboxes = [...this.cefrCheckboxes, ...this.wordTypeCheckboxes];
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => this.handleCheckboxChange());
        });

        if (this.resetButton) {
            this.resetButton.addEventListener('click', () => this.resetSettings());
        }

        if (this.wordSetSelect) {
            this.wordSetSelect.addEventListener('change', (event) => this.handleWordSetChange(event));
        }

        if (this.createWordSetButton) {
            this.createWordSetButton.addEventListener('click', () => this.openCreateWordSetModal());
        }

        if (this.saveWordSetButton) {
            this.saveWordSetButton.addEventListener('click', () => this.openEditWordSetModal());
        }

        if (this.deleteWordSetButton) {
            this.deleteWordSetButton.addEventListener('click', () => this.deleteWordSet());
        }

        if (this.startQuizButton) {
            this.startQuizButton.addEventListener("click", (event) => this.startQuiz(event));
        }

        if (this.filteredWords) {
            this.filteredWords.addEventListener('mouseover', (event) => {
                if (event.target.classList.contains('filtered-word')) {
                    this.showWordMenu(event.target);
                }
            });

            this.filteredWords.addEventListener('mouseout', (event) => {
                if (event.target.classList.contains('filtered-word') && !event.relatedTarget.closest('.word-menu')) {
                    this.hideAllWordMenus();
                }
            });

            this.filteredWords.addEventListener('click', (event) => {
                if (event.target.classList.contains('delete-button')) {
                    event.stopPropagation();
                    event.preventDefault();
                    const wordElement = event.target.closest('.filtered-word');
                    this.deleteWord(wordElement);
                    this.hideAllWordMenus();
                }
            });
        }

        if (this.unusedWords) {
            this.unusedWords.addEventListener('mouseover', (event) => {
                if (event.target.classList.contains('unused-word')) {
                    this.showWordMenu(event.target);
                }
            });

            this.unusedWords.addEventListener('mouseout', (event) => {
                if (event.target.classList.contains('unused-word') && !event.relatedTarget.closest('.word-menu')) {
                    this.hideAllWordMenus();
                }
            });

            this.unusedWords.addEventListener('click', (event) => {
                if (event.target.classList.contains('add-button')) {
                    event.stopPropagation();
                    event.preventDefault();
                    const wordElement = event.target.closest('.unused-word');
                    this.addWord(wordElement);
                    this.hideAllWordMenus();
                }
            });
        }

        if (this.createWordSetForm) {
            this.createWordSetForm.addEventListener('submit', (event) => this.submitWordSetForm(event));
        }

        document.addEventListener('mouseout', (event) => {
                if (event.target.classList.contains('word-menu') && !event.relatedTarget.closest('.filtered-word')) {
                this.hideAllWordMenus();
            }
        });

        if (this.createWordSetModal) {
            const closeModalButton = this.createWordSetModal.querySelector('.close-modal');
            if (closeModalButton) {
                closeModalButton.addEventListener('click', () => this.closeCreateWordSetModal());
            }

            window.addEventListener('click', (event) => {
                if (event.target === this.createWordSetModal) {
                    this.closeCreateWordSetModal();
                }
            });
        }
    }

    startQuiz(event) {
        event.preventDefault();
        const filteredWords = this.getFilteredWordsFromDiv();

        fetch("{% url 'submit_quiz_settings' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ filtered_words: filteredWords })
        })
        .then(response => response.json())
        .then(data => {
            window.location.href = "{% url 'landing' %}";
        });
    }

    getFilteredWordsFromDiv() {
        const hiddenFilteredWords = document.getElementById('hidden-filtered-words');
        return hiddenFilteredWords ? hiddenFilteredWords.dataset.words.split(', ') : [];
    }

    getUnusedWordsFromDiv() {
        const hiddenUnusedWords = document.getElementById('hidden-unused-words');
        return hiddenUnusedWords ? hiddenUnusedWords.dataset.words.split(', ') : [];
    }

    showWordMenu(wordElement) {
        this.hideAllWordMenus(); // Hide all menus before showing a new one
        const menu = wordElement.querySelector('.word-menu');
        if (menu) {
            menu.style.display = 'flex';
        }
    }

    hideAllWordMenus() {
        const menus = document.querySelectorAll('.word-menu');
        menus.forEach(menu => {
            menu.style.display = 'none';
        });
    }

    populateFilteredWords() {
        const wordsData = this.hiddenFilteredWords.dataset.words ? this.hiddenFilteredWords.dataset.words.split(', ') : [];
        this.filteredWords.innerHTML = ''; // Clear existing content
        wordsData.forEach(word => {
            if (word.trim() === '') return; // Skip empty words
            const wordElement = document.createElement('span');
            wordElement.classList.add('filtered-word');
            wordElement.dataset.word = word;
            wordElement.textContent = word;      

            const menu = document.createElement('div');
            menu.classList.add('word-menu');
            menu.innerHTML = `
                <button class="delete-button">Del</button>
            `;
            wordElement.appendChild(menu);

            this.filteredWords.appendChild(wordElement);
        });
    }

    populateUnusedWords() {
        const wordsData = this.hiddenUnusedWords.dataset.words ? this.hiddenUnusedWords.dataset.words.split(', ') : [];
        this.unusedWords.innerHTML = ''; // Clear existing content
        wordsData.forEach(word => {
            if (word.trim() === '') return; // Skip empty words
            const wordElement = document.createElement('span');
            wordElement.classList.add('unused-word');
            wordElement.dataset.word = word;
            wordElement.textContent = word;      

            const menu = document.createElement('div');
            menu.classList.add('word-menu');
            menu.innerHTML = `
                <button class="add-button">Add</button>
            `;
            wordElement.appendChild(menu);

            this.unusedWords.appendChild(wordElement);
        });
    }

    loadWordSets(selectedWordSetId = null, selectedWordSetDescription = null) {
        this.showSpinner();
        fetch("{% url 'wordsets:list_word_sets' %}")
            .then(response => response.json())
            .then(data => {
                this.populateWordSets(data.word_sets, selectedWordSetId, selectedWordSetDescription);
                this.hideSpinner(); 
            })
            .catch(error => {
                console.error("Error loadWordSets:", error);
                this.showToast("An error occurred while loadWordSets.", 'error');
                this.hideSpinner(); 
            });
    }

    populateWordSets(wordSets, selectedWordSetId = null, selectedWordSetDescription = null) {
        this.wordSetSelect.innerHTML = '';

        const emptyOption = document.createElement("option");
        emptyOption.value = '';
        emptyOption.textContent = 'Select Word Set';
        this.wordSetSelect.appendChild(emptyOption);

        wordSets.forEach(set => {
            const option = document.createElement("option");
            option.value = set.id;
            option.innerHTML = `${set.name} => ${set.description}`;
            option.setAttribute('data-description', set.description);
            option.setAttribute('data-name', set.name);
            this.wordSetSelect.appendChild(option);
        });

        // Restore selected value after populating options if provided
        if (selectedWordSetId) {
            this.wordSetSelect.value = selectedWordSetId;
            const selectedOption = this.wordSetSelect.selectedOptions[0];
            selectedOption.textContent = selectedOption.getAttribute('data-name'); 
            this.wordSetDescriptionDisplay.textContent = selectedWordSetDescription;

            // Show Update and Delete buttons if a valid WordSet is selected
            this.saveWordSetButton.style.display = "inline-block";
            this.deleteWordSetButton.style.display = "inline-block";
            this.createWordSetButton.style.display = "none";
        } else {
            // Hide Update and Delete buttons if no valid WordSet is selected
            this.saveWordSetButton.style.display = "none";
            this.deleteWordSetButton.style.display = "none";
            this.createWordSetButton.style.display = "inline-block";
        }
    }

    handleWordSetChange(event) {
        console.log('handleWordSetChange');
        this.showSpinner();
        const selectedWordSetId = this.wordSetSelect.value;
        const selectedOption = event.target.selectedOptions[0];
        const description = selectedOption.getAttribute('data-description');

        // Restore the full text for all options
        Array.from(this.wordSetSelect.options).forEach(option => {
            if (option.value !== '') {
                option.textContent = `${option.getAttribute('data-name')} => ${option.getAttribute('data-description')}`;
            } else {
                option.textContent = 'Select Word Set';
            }
        });

        if (selectedOption.value !== '') {
            selectedOption.textContent = selectedOption.getAttribute('data-name');
        }

        const wordSetDescriptionDiv = document.getElementById('word-set-description');
        wordSetDescriptionDiv.textContent = description || '';
        wordSetDescriptionDiv.style.display = description ? 'block' : 'none';

        if (selectedWordSetId) {           
            fetch(`/wordsets/${selectedWordSetId}/words/`)
                .then(response => response.json())
                .then(data => {
                    this.settings.word_set = selectedWordSetId;
                    this.settings.filtered_words = data.words;
                    this.settings.use_filtered_words = true;

                    this.hiddenFilteredWords.dataset.words = data.words.join(', ');

                    this.updateFilteredWords();

                    this.sendSettingsToServer(() => {
                        this.createWordSetButton.style.display = "none";
                        this.saveWordSetButton.style.display = "inline-block";
                        this.deleteWordSetButton.style.display = "inline-block";
                        this.hideSpinner(); 
                    });
                })
                .catch(error => {
                    console.error("Error handleWordSetChange:", error);
                    this.showToast("An error occurred while handleWordSetChange.", 'error');
                    this.hideSpinner(); 
                });
        } else {
            this.resetSettings();
        }
        this.hideSpinner();
    }

    saveWordSet() {
        this.openEditWordSetModal();
    }

    deleteWordSet() {
        const selectedWordSetId = this.wordSetSelect.value;
        if (selectedWordSetId) {
            this.showSpinner();
            fetch(`/wordsets/${selectedWordSetId}/delete/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    this.showToast("WordSet deleted successfully.", 'success');
                    this.loadWordSets(); // Reload word sets
                    this.resetSettings();
                } else {
                    this.showToast(data.message || "An error occurred while deleting the WordSet.", 'error');
                }
                this.hideSpinner(); 
            })
            .catch(error => {
                console.error("Error deleting WordSet:", error);
                this.showToast("An error occurred while deleting the WordSet.", 'error');
                this.hideSpinner(); 
            });
        }
    }

    deleteWord(wordElement) {
        // Logic to delete word
        this.showSpinner();
        const word = wordElement.dataset.word;
        this.removeWordFromFiltered(word);
        this.settings.use_filtered_words = true;
        this.updateFilteredWords();
        this.hideSpinner();
    }

    removeWordFromFiltered(word) {
        const words = this.hiddenFilteredWords.dataset.words.split(', ').filter(w => w !== word);
        this.hiddenFilteredWords.dataset.words = words.join(', ');
        this.settings.filtered_words = words;
    }

    updateFilteredWords() {
        this.showSpinner();
        this.populateFilteredWords();
        this.populateUnusedWords();
        this.sendSettingsToServer();
    }

    addWord(wordElement) {
        this.showSpinner();
        const word = wordElement.dataset.word;
        this.addWordToFiltered(word);
        this.removeWordFromUnused(word);
        this.updateFilteredWords();
        this.hideSpinner();
    }

    removeWordFromUnused(word) {
        const words = this.hiddenUnusedWords.dataset.words.split(', ').filter(w => w !== word);
        this.hiddenUnusedWords.dataset.words = words.join(', ');
        this.settings.unused_words = words;
    }

    addWordToFiltered(word) {
        const words = this.hiddenFilteredWords.dataset.words.split(', ');
        words.push(word);
        this.hiddenFilteredWords.dataset.words = words.join(', ');
        this.settings.filtered_words = words;
    }

    updateSliderLabel() {
        this.wordCountLabel.textContent = `${this.wordCountSlider.value} / ${this.wordCountSlider.max}`;
    }

    handleCheckboxChange() {
        this.showSpinner();
        const currentTotalChecked = this.getTotalChecked();
        this.settings.is_grow = currentTotalChecked > this.previousTotalChecked;

        this.updateSettings();
        this.sendSettingsToServer(() => {
            this.previousTotalChecked = this.getTotalChecked(); // Update after sending settings to server and updating UI
            this.hideSpinner();
        });
    }

    handleSliderChange() {
        this.settings.total_word_count = parseInt(this.wordCountSlider.value);
        this.settings.isSettingsChange = 'total_word_count';
        this.sendSettingsToServer();
    }

    getTotalChecked() {
        this.showSpinner();
        const checkedCefrLevels = this.cefrCheckboxes ? Array.from(this.cefrCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value) : [];
        const checkedWordTypes = this.wordTypeCheckboxes ? Array.from(this.wordTypeCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value) : [];

        this.settings.cefr_levels = checkedCefrLevels;
        this.settings.word_types = checkedWordTypes;

        return checkedCefrLevels.length + checkedWordTypes.length;
    }

    updateSettings() {
        const checkedCefrLevels = this.cefrCheckboxes ? Array.from(this.cefrCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value) : [];
        const checkedWordTypes = this.wordTypeCheckboxes ? Array.from(this.wordTypeCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value) : [];

        this.settings.cefr_levels = checkedCefrLevels;
        this.settings.word_types = checkedWordTypes;
        this.settings.isSettingsChange = 'updated';  // Indicating that settings have been updated
    }

    resetSettings() {
        this.showSpinner();
        this.settings.cefr_levels = {{ cefr_levels|safe }};
        this.settings.word_types = {{ word_types|safe }};
        this.settings.is_grow = true;
        this.settings.isSettingsChange = 'reset';
        this.settings.total_word_count = {{ word_count }};
        this.settings.use_filtered_words = false;
        this.previousTotalChecked = this.getTotalChecked();

        this.sendSettingsToServer(() => {
            this.previousTotalChecked = this.getTotalChecked(); // Update after sending settings to server and updating UI
            this.wordSetDescriptionDisplay.textContent = '';
            this.createWordSetButton.style.display = "inline-block";
            this.saveWordSetButton.style.display = "none";
            this.deleteWordSetButton.style.display = "none";
            this.hideSpinner();
        });
    }

    sendSettingsToServer(callback = null) {
        console.log('update settings send to server ', JSON.stringify(this.settings))
        this.showSpinner();
        fetch("{% url 'update_quiz_settings' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(this.settings)
        })
        .then(response => response.json())
        .then(data => {
            this.updateUI(data);
            this.hiddenFilteredWords.dataset.words = data.filtered_words; // Update hidden filtered words
            this.hiddenUnusedWords.dataset.words = data.unused_words; // Update hidden unused words
            this.populateFilteredWords(); // Update filtered words display
            this.populateUnusedWords(); // Update unused words display
            if (callback) callback();
            this.settings.use_filtered_words = false;
            this.hideSpinner(); 
        })
        .catch(error => {
            console.error("Error deleting sendSettingsToServer:", error);
            this.showToast("An error occurred while sendSettingsToServer.", 'error');
            this.hideSpinner(); 
        });
    }

    updateUI(data = null) {
        this.showSpinner();
        if (data) {
            this.wordCountLabel.textContent = `${data.word_count} / ${data.max_word_count}`;
            this.wordCountSlider.max = data.max_word_count;
            this.wordCountSlider.value = data.word_count;

            Object.entries(data.cefr_counts).forEach(([level, count]) => {
                const span = document.getElementById(`cefr-level-count-${level}`);
                if (span) {
                    span.textContent = `${count} / ${data.cefr_total_counts[level]}`;
                }
                const checkbox = document.getElementById(`cefr-checkbox-${level}`);
                if (checkbox) {
                    checkbox.checked = count > 0 && data.cefr_counts[level] === data.cefr_total_counts[level];
                    checkbox.disabled = data.cefr_total_counts[level] === 0;
                }
            });

            Object.entries(data.word_type_counts).forEach(([wordType, count]) => {
                const span = document.getElementById(`words-types-count-${wordType}`);
                if (span) {
                    span.textContent = `${count} / ${data.word_type_total_counts[wordType]}`;
                }
                const checkbox = document.getElementById(`words-types-checkbox-${wordType}`);
                if (checkbox) {
                    checkbox.checked = count > 0 && data.word_type_counts[wordType] === data.word_type_total_counts[wordType];
                    checkbox.disabled = data.word_type_total_counts[wordType] === 0;
                }
            });

            this.populateFilteredWords();
            this.populateUnusedWords();
        }
        this.hideSpinner(); 
    }

    openCreateWordSetModal() {
        this.wordSetTitle.value = '';
        this.wordSetDescription.value = '';
        this.filteredWordsList.innerHTML = '';
        const filteredWords = this.hiddenFilteredWords.dataset.words ? this.hiddenFilteredWords.dataset.words.split(', ') : [];
        filteredWords.forEach(word => {
            const wordElement = document.createElement('span');
            wordElement.textContent = word;
            this.filteredWordsList.appendChild(wordElement);
        });
        this.createWordSetForm.dataset.wordSetId = '';
        this.createWordSetModal.style.display = "block";
    }

    openEditWordSetModal() {
        const selectedWordSetId = this.wordSetSelect.value;
        if (!selectedWordSetId) {
            this.showToast("Please select a WordSet to edit.", 'error');
            return;
        }

        this.createWordSetForm.dataset.wordSetId = selectedWordSetId;
        const selectedOption = this.wordSetSelect.selectedOptions[0];
        const title = selectedOption.getAttribute('data-name').trim();
        const description = selectedOption.getAttribute('data-description').trim();

        this.wordSetTitle.value = title;
        this.wordSetDescription.value = description;

        this.filteredWordsList.innerHTML = '';
        const filteredWords = this.hiddenFilteredWords.dataset.words ? this.hiddenFilteredWords.dataset.words.split(', ') : [];
        filteredWords.forEach(word => {
            const wordElement = document.createElement('span');
            wordElement.textContent = word;
            this.filteredWordsList.appendChild(wordElement);
        });

        this.createWordSetModal.style.display = "block";
    }

    closeCreateWordSetModal() {
        this.filteredWordsList.innerHTML = '';
        this.createWordSetModal.style.display = "none";

    }

    submitWordSetForm(event) {
        event.preventDefault();
        const title = this.wordSetTitle.value.trim();
        const description = this.wordSetDescription.value.trim();
        const wordSetId = this.createWordSetForm.dataset.wordSetId;
        const url = wordSetId ? `/wordsets/${wordSetId}/update/` : "{% url 'wordsets:create_word_set' %}";

        if (!title) {
            this.showToast("WordSet title is required.", 'error');
            this.hideSpinner();
            return;
        }

        if (!description) {
            this.showToast("WordSet description is required.", 'error');
            this.hideSpinner();
            return;
        }

        const filteredWords = this.getFilteredWordsFromDiv();
        this.settings.filtered_words = filteredWords;

        const data = {
            title: title,
            description: description,
            words: this.settings.filtered_words
        };

        this.showSpinner();

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const message = wordSetId ? "WordSet updated successfully." : "WordSet created successfully.";
                this.showToast(message, 'success');
                this.closeCreateWordSetModal();
                this.loadWordSets(data.word_set_id, data.description);
                this.wordSetSelect.value = data.word_set_id;
                this.handleWordSetChange({ target: this.wordSetSelect });
            } else {
                this.showToast(data.message || "An error occurred while saving the WordSet.", 'error');
            }
            this.hideSpinner(); 
        })
        .catch(error => {
            console.error("Error saving WordSet:", error);
            this.showToast("An error occurred while saving the WordSet.", 'error');
            this.hideSpinner(); 
        });
    }

    showToast(message, type = 'neutral') {
        const toast = document.createElement("div");
        toast.className = `toast ${type}`;
        toast.innerHTML = `<div id="desc">${message}</div>`;
        this.toastContainer.appendChild(toast);
        toast.classList.add("show");
        setTimeout(() => {
            toast.classList.remove("show");
            this.toastContainer.removeChild(toast);
        }, 6000);
    }

    showSpinner() {
        const spinner = document.getElementById('spinner');
        if (spinner) {
            spinner.style.display = 'block';
        }
    }

    hideSpinner() {
        const spinner = document.getElementById('spinner');
        if (spinner) {
            spinner.style.display = 'none';
        }
    }
}

document.addEventListener('DOMContentLoaded', () => {
    const quizSettings = new QuizSettings();
});
</script>
{% endblock %}

