<!-- quizzes/templates/quizzes/quiz_settings.html -->
{% extends 'base.html' %}
{% load dict_filter %}

{% block title %}Quiz Settings - Pimp My English{% endblock %}

{% block content %}
<div class="winners-results">
    <div class="close-button-div">
        <button id="closeButtonSettings" class="close-button">x</button>
    </div>
    <form id="settings-form" method="post" action="{% url 'submit_quiz_settings' %}">
        {% csrf_token %}
        <table id="settings-table" class="winners-table">
            <caption>Settings</caption>
            <thead>
                <tr>
                    <th>pp</th>
                    <th>Describe</th>
                    <th>Name</th>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr class="highlight">
                    <td>1</td>
                    <td>total number of words for quiz</td>
                    <td>Total Words</td>
                    <td>
                        <label for="word-count-slider"><span id="word-count-label">{{ word_count }}</span> words</label>
                        <input type="range" id="word-count-slider" name="word_count" min="3" max="100" value="{{ word_count }}">
                    </td>
                </tr>
                <tr class="highlight">
                    <td>2</td>
                    <td>cefr levels of words for quiz ('A1', 'B1', 'B2' etc)</td>
                    <td>CEFR Levels</td>
                    <td>
                        <div id="cefr-level-selection">
                            {% for level in cefr_levels %}
                                <label>
                                    <input id="cefr-checkbox-{{ level }}" type="checkbox" name="cefr_levels" value="{{ level }}"
                                           data-count="{{ cefr_counts|dict:level }}" {% if level in selected_cefr_levels %}checked{% endif %}>
                                    {{ level }} (<span id="cefr-level-count-{{ level }}">{{ cefr_counts|dict:level }}</span> words)
                                </label>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr class="highlight">
                    <td>3</td>
                    <td>types of words for quiz ('noun', 'adjective' etc)</td>
                    <td>Word Types</td>
                    <td>
                        <div id="wordtype-level-selection">
                            {% for word_type in word_types %}
                                <label>
                                    <input id="words-types-checkbox-{{ word_type }}" type="checkbox" name="word_types" value="{{ word_type }}"
                                           data-count="{{ word_type_counts|dict:word_type }}" {% if word_type in selected_word_types %}checked{% endif %}>
                                    {{ word_type }} (<span id="words-types-count-{{ word_type }}">{{ word_type_counts|dict:word_type }}</span>)
                                </label>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr class="highlight total">
                    <td colspan="4" class="reset-settings-default">
                        <button id="resetSettingsDefault">Reset</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
