<!-- quizzes/templates/quizzes/quiz_settings.html -->
{% extends 'base.html' %}
{% load dict_filter %}

{% block title %}Quiz Settings - Pimp My English{% endblock %}

{% block content %}
<div class="winners-results fit-content">
    <div class="close-button-div">
        <button id="closeButtonSettings" class="close-button">x</button>
    </div>
    <form id="settings-form" method="post" action="{% url 'submit_quiz_settings' %}">
        {% csrf_token %}
        <table id="settings-table" class="winners-table">
            <caption>Settings</caption>
            <thead>
                <tr>
                    <th>pp</th>
                    <th>Describe</th>
                    <th>Name</th>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr class="highlight">
                    <td data-label="pp">1</td>
                    <td data-label="Describe">Available WordSets</td>
                    <td data-label="Name">WordSet</td>
                    <td data-label="Values">
                        <select id="word-set-select">
                            <option value="">Select Word Set</option>
                            <!-- Options will be dynamically populated -->
                        </select>
                    </td>
                </tr>
                <tr class="highlight">
                    <td data-label="pp">2</td>
                    <td data-label="Describe">Total number of words for quiz</td>
                    <td data-label="Name">Total Words</td>
                    <td data-label="Values">
                        <label for="word-count-slider"><span id="word-count-label">{{ word_count }} / {{ max_word_count }}</span> words</label>
                        <input type="range" id="word-count-slider" name="word_count" min="3" max="{{ max_word_count }}" value="{{ word_count }}">
                    </td>
                </tr>
                <tr class="highlight">
                    <td data-label="pp">3</td>
                    <td data-label="Describe">CEFR levels of words for quiz ('A1', 'B1', 'B2' etc.)</td>
                    <td data-label="Name">CEFR Levels</td>
                    <td data-label="Values">
                        <div id="cefr-level-selection">
                            {% for level in cefr_levels %}
                                <label>
                                    <input id="cefr-checkbox-{{ level }}" type="checkbox" name="cefr_levels" value="{{ level }}"
                                           data-count="{{ cefr_counts|dict:level }}" 
                                           {% if cefr_counts|dict:level > 0 and level in selected_cefr_levels %}checked{% endif %}
                                           {% if cefr_total_counts|dict:level == 0 %}disabled{% endif %}>
                                    {{ level }} (<span id="cefr-level-count-{{ level }}">{{ cefr_counts|dict:level }} / {{ cefr_total_counts|dict:level }}</span> words)
                                </label>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr class="highlight">
                    <td data-label="pp">4</td>
                    <td data-label="Describe">Types of words for quiz ('noun', 'adjective' etc.)</td>
                    <td data-label="Name">Word Types</td>
                    <td data-label="Values">
                        <div id="wordtype-level-selection">
                            {% for word_type in word_types %}
                                <label>
                                    <input id="words-types-checkbox-{{ word_type }}" type="checkbox" name="word_types" value="{{ word_type }}"
                                           data-count="{{ word_type_counts|dict:word_type }}" 
                                           {% if word_type_counts|dict:word_type > 0 and word_type in selected_word_types %}checked{% endif %}
                                           {% if word_type_total_counts|dict:word_type == 0 %}disabled{% endif %}>
                                    {{ word_type }} (<span id="words-types-count-{{ word_type }}">{{ word_type_counts|dict:word_type }} / {{ word_type_total_counts|dict:word_type }}</span> words)
                                </label>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr class="highlight">
                    <td data-label="pp">5</td>
                    <td data-label="Describe">Words in WordSet</td>
                    <td data-label="Name">Words in Set</td>
                    <td data-label="Values">
                        <button id="add-word" class="add-word-btn">add word</button>
                        <div id="filtered-words"></div>
                    </td>
                </tr>
                <tr class="highlight total">
                    <td colspan="4" class="reset-settings-default">
                        <button id="resetSettingsDefault" type="button">Reset</button>
                        <button id="startQuizButton" type="submit">Start</button>
                        <button id="createWordSetButton" type="button">Create</button>
                        <button id="editWordSetButton" type="button" style="display:none;">Edit</button>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </form>
</div>
<div id="hidden-filtered-words" data-words="{{ filtered_words|safe }}" style="display: none;"></div>

<script>
class QuizSettings {
    constructor() {
        this.settings = {
            cefr_levels: {{ cefr_levels|safe }},
            word_types: {{ word_types|safe }},
            is_grow: true,
            isSettingsChange: null,
            total_word_count: {{ word_count }},
            word_set: null
        };

        this.init();
    }

    init() {
        this.cacheDomElements();
        this.previousTotalChecked = this.getTotalChecked();
        this.bindEvents();
        this.populateFilteredWords();
        this.loadWordSets();  // Load WordSets options
    }

    cacheDomElements() {
        this.wordCountSlider = document.getElementById("word-count-slider");
        this.wordCountLabel = document.getElementById("word-count-label");
        this.closeButtonSettings = document.getElementById('closeButtonSettings');
        this.resetButton = document.getElementById('resetSettingsDefault');
        this.cefrCheckboxes = document.querySelectorAll('input[name="cefr_levels"]');
        this.wordTypeCheckboxes = document.querySelectorAll('input[name="word_types"]');
        this.wordSetSelect = document.getElementById("word-set-select");
        this.startQuizButton = document.getElementById("startQuizButton");
        this.createWordSetButton = document.getElementById("createWordSetButton");
        this.editWordSetButton = document.getElementById("editWordSetButton");
        this.filteredWords = document.getElementById("filtered-words");
        this.addWordButton = document.getElementById("add-word");
        this.hiddenFilteredWords = document.getElementById("hidden-filtered-words");
    }

    bindEvents() {
        if (this.closeButtonSettings) {
            this.closeButtonSettings.addEventListener('click', () => {
                window.location.href = '/';  // Redirect to home page or another page
            });
        }

        if (this.wordCountSlider && this.wordCountLabel) {
            this.wordCountSlider.addEventListener("input", () => {
                this.updateSliderLabel();
            });

            this.wordCountSlider.addEventListener("change", () => {
                this.handleSliderChange();
            });
        }

        const checkboxes = [...this.cefrCheckboxes, ...this.wordTypeCheckboxes];
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => this.handleCheckboxChange());
        });

        if (this.resetButton) {
            this.resetButton.addEventListener('click', () => this.resetSettings());
        }

        if (this.wordSetSelect) {
            this.wordSetSelect.addEventListener('change', () => this.handleWordSetChange());
        }

        if (this.createWordSetButton) {
            this.createWordSetButton.addEventListener('click', () => this.createWordSet());
        }

        if (this.editWordSetButton) {
            this.editWordSetButton.addEventListener('click', () => this.editWordSet());
        }

        if (this.addWordButton) {
            this.addWordButton.addEventListener('click', () => this.addNewWord());
        }

        if (this.filteredWords) {
            this.filteredWords.addEventListener('mouseover', (event) => {
                if (event.target.classList.contains('filtered-word')) {
                    this.showWordMenu(event.target);
                }
            });

            this.filteredWords.addEventListener('mouseout', (event) => {
                if (event.target.classList.contains('filtered-word') && !event.relatedTarget.closest('.word-menu')) {
                    // this.hideWordMenu(event.target);
                    this.hideAllWordMenus();
                }
            });

            this.filteredWords.addEventListener('click', (event) => {
                if (event.target.classList.contains('edit-button')) {
                    event.stopPropagation();
                    event.preventDefault();
                    console.log('Edit');
                    // this.hideWordMenu(event.target.closest('.filtered-word'));
                    this.hideAllWordMenus();
                }

                if (event.target.classList.contains('delete-button')) {
                    event.stopPropagation();
                    event.preventDefault();
                    console.log('Delete');
                    // this.hideWordMenu(event.target.closest('.filtered-word'));
                    this.hideAllWordMenus();
                }
            });
        }
        
        document.addEventListener('mouseout', (event) => {
        if (event.target.classList.contains('word-menu') && !event.relatedTarget.closest('.filtered-word')) {
            this.hideAllWordMenus();
        }
    });
    }

    showWordMenu(wordElement) {
        this.hideAllWordMenus(); // Hide all menus before showing a new one
        const menu = wordElement.querySelector('.word-menu');
        if (menu) {
            menu.style.display = 'flex';
        }
    }

    hideAllWordMenus() {
        const menus = document.querySelectorAll('.word-menu');
        menus.forEach(menu => {
            menu.style.display = 'none';
        });
    }

    populateFilteredWords() {
        const wordsData = this.hiddenFilteredWords.dataset.words.split(', ');
        this.filteredWords.innerHTML = ''; // Clear existing content
        wordsData.forEach(word => {
            const wordElement = document.createElement('span');
            wordElement.classList.add('filtered-word');
            wordElement.dataset.word = word;
            wordElement.textContent = word;      

            const menu = document.createElement('div');
            menu.classList.add('word-menu');
            menu.innerHTML = `
                <button class="edit-button">Edit</button>
                <button class="delete-button">Del</button>
            `;
            wordElement.appendChild(menu);

            this.filteredWords.appendChild(wordElement);
        });
    }

    loadWordSets() {
        fetch("{% url 'wordsets:list_word_sets' %}")
            .then(response => response.json())
            .then(data => {
                this.populateWordSets(data.word_sets);
            });
    }

    populateWordSets(wordSets) {
        wordSets.forEach(set => {
            const option = document.createElement("option");
            option.value = set.id;
            option.text = set.name;
            this.wordSetSelect.appendChild(option);
        });
    }

    handleWordSetChange() {
        const selectedWordSetId = this.wordSetSelect.value;
        if (selectedWordSetId) {
            fetch(`/wordsets/${selectedWordSetId}/words/`)
                .then(response => response.json())
                .then(data => {
                    this.settings.word_set = selectedWordSetId;
                    this.settings.cefr_levels = data.cefr_levels;
                    this.settings.word_types = data.word_types;
                    this.settings.total_word_count = data.word_count;

                    this.updateUI(data);

                    this.createWordSetButton.style.display = "none";
                    this.editWordSetButton.style.display = "inline-block";
                });
        } else {
            this.createWordSetButton.style.display = "inline-block";
            this.editWordSetButton.style.display = "none";
        }
    }

    createWordSet() {
        window.location.href = "/wordsets/create/";
    }

    editWordSet() {
        const selectedWordSetId = this.wordSetSelect.value;
        if (selectedWordSetId) {
            window.location.href = `/wordsets/${selectedWordSetId}/edit/`;
        }
    }

    editWord(word) {
        console.log(`Edit word: ${word}`);
        // Logic to edit word
    }

    deleteWord(word) {
        console.log(`Delete word: ${word}`);
        // Logic to delete word
    }

    addNewWord() {
        console.log('Add New Word clicked');
        // Logic to add a new word
    }

    // showWordMenu(wordElement) {
    //     const menu = wordElement.querySelector('.word-menu');
    //     if (menu) {
    //         menu.style.display = 'flex';
    //     }
    // }

    // hideWordMenu(wordElement) {
    //     const menu = wordElement.querySelector('.word-menu');
    //     if (menu) {  
    //         menu.style.display = 'none';
    //     }
    // }

    updateSliderLabel() {
        this.wordCountLabel.textContent = `${this.wordCountSlider.value} / ${this.wordCountSlider.max}`;
    }

    handleCheckboxChange() {
        const currentTotalChecked = this.getTotalChecked();
        this.settings.is_grow = currentTotalChecked > this.previousTotalChecked;

        this.updateSettings();
        this.sendSettingsToServer(() => {
            this.previousTotalChecked = this.getTotalChecked(); // Update after sending settings to server and updating UI
        });
    }

    handleSliderChange() {
        this.settings.total_word_count = parseInt(this.wordCountSlider.value);
        this.settings.isSettingsChange = 'total_word_count';
        this.sendSettingsToServer();
    }

    getTotalChecked() {
        const checkedCefrLevels = this.cefrCheckboxes ? Array.from(this.cefrCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value) : [];
        const checkedWordTypes = this.wordTypeCheckboxes ? Array.from(this.wordTypeCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value) : [];

        this.settings.cefr_levels = checkedCefrLevels;
        this.settings.word_types = checkedWordTypes;

        return checkedCefrLevels.length + checkedWordTypes.length;
    }

    updateSettings() {
        const checkedCefrLevels = this.cefrCheckboxes ? Array.from(this.cefrCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value) : [];
        const checkedWordTypes = this.wordTypeCheckboxes ? Array.from(this.wordTypeCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value) : [];

        this.settings.cefr_levels = checkedCefrLevels;
        this.settings.word_types = checkedWordTypes;
        this.settings.isSettingsChange = 'updated';  // Indicating that settings have been updated
    }

    resetSettings() {
        this.settings.cefr_levels = {{ cefr_levels|safe }};
        this.settings.word_types = {{ word_types|safe }};
        this.settings.is_grow = true;
        this.settings.isSettingsChange = 'reset';
        this.settings.total_word_count = {{ word_count }};
        this.previousTotalChecked = this.getTotalChecked();

        this.sendSettingsToServer(() => {
            this.previousTotalChecked = this.getTotalChecked(); // Update after sending settings to server and updating UI
        });
    }

    sendSettingsToServer(callback = null) {
        fetch("{% url 'update_quiz_settings' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(this.settings)
        })
        .then(response => response.json())
        .then(data => {
            this.updateUI(data);
            if (callback) callback();
        });
    }

    updateUI(data = null) {
        if (data) {
            this.wordCountLabel.textContent = `${data.word_count} / ${data.max_word_count}`;
            this.wordCountSlider.max = data.max_word_count;
            this.wordCountSlider.value = data.word_count;

            Object.entries(data.cefr_counts).forEach(([level, count]) => {
                const span = document.getElementById(`cefr-level-count-${level}`);
                if (span) {
                    span.textContent = `${count} / ${data.cefr_total_counts[level]}`;
                }
                const checkbox = document.getElementById(`cefr-checkbox-${level}`);
                if (checkbox) {
                    checkbox.checked = count > 0 && data.cefr_counts[level] === data.cefr_total_counts[level];
                    checkbox.disabled = data.cefr_total_counts[level] === 0;
                }
            });

            Object.entries(data.word_type_counts).forEach(([wordType, count]) => {
                const span = document.getElementById(`words-types-count-${wordType}`);
                if (span) {
                    span.textContent = `${count} / ${data.word_type_total_counts[wordType]}`;
                }
                const checkbox = document.getElementById(`words-types-checkbox-${wordType}`);
                if (checkbox) {
                    checkbox.checked = count > 0 && data.word_type_counts[wordType] === data.word_type_total_counts[wordType];
                    checkbox.disabled = data.word_type_total_counts[wordType] === 0;
                }
            });

            if (this.filteredWords) {
                this.filteredWords.innerHTML = '';
                const words = this.hiddenFilteredWords.dataset.words.split(', ');
                words.forEach(word => {
                    const wordElement = document.createElement('span');
                    wordElement.classList.add('filtered-word');
                    wordElement.dataset.word = word;
                    wordElement.textContent = word;   
                    
                    const menu = document.createElement('div');
                    menu.classList.add('word-menu');
                    menu.innerHTML = `
                        <button class="edit-button">Edit</button>
                        <button class="delete-button">Del</button>
                    `;
                    wordElement.appendChild(menu);
                    
                    this.filteredWords.appendChild(wordElement);
                });
            }
        }
    }
}

document.addEventListener('DOMContentLoaded', () => {
    const quizSettings = new QuizSettings();
});
</script>
{% endblock %}

