<!-- users/templates/accounts/login.html -->

{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="login-background">

    <div class="login-form-container">
        <h1>{% trans "Sign In" %}</h1>
       
        <p>
            {% blocktranslate %}If you have not created an account yet, then please <span><a href="{{ signup_url }}">sign up</a></span> first.{% endblocktranslate %}
        </p>
        {% url 'account_login' as login_url %}
        <form method="post" action="{{ login_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            <label for="id_login">{% trans "Email" %}:</label>
            {{ form.login }}
            <label for="id_password">{% trans "Password" %}:</label>
            {{ form.password }}
            <label for="id_remember">{% trans "Remember Me" %} &nbsp; {{ form.remember }}</label>
            <button type="submit">{% trans "Sign In" %}</button>
        </form>
      
       
    </div>
</div>
{% endblock content %}
