<!-- accounts/templates/account/logout.html -->

{% extends "base.html" %}

{% load allauth account %}
{% block head_title %}
    Sign Out
{% endblock head_title %}
{% block content %}


    <div class="login-form-container">
        <h1>Sign Out</h1>
        <p>Are you sure you want to sign out?</p>
        {% url 'account_logout' as logout_url %}
        <form method="post" action="{{ logout_url }}">
            {% csrf_token %}
            <button type="submit">Sign Out</button>
        </form>
    </div>

{% endblock content %}
