<!-- accounts/templates/account/verified_email_required.html -->

{% extends "base.html" %}
{% load allauth account %}
{% block head_title %}
    Verify Your Email Address
{% endblock head_title %}
{% block content %}

<div class="login-form-container">
    <h1>Verify Your Email Address</h1>
</div>
    {% url 'account_email' as email_url %}
    <p>
       This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your email address.
    </p>
    <p>
        We have sent an email to you for verification. Please click on the link inside that email. If you do not see the verification email in your main inbox, check your spam folder. Otherwise contact us if you do not receive it within a few minutes.
    </p>
    <p>
        <strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.
    </p>
{% endblock content %}
