<!-- subscriptions/templates/manage_subscription.html -->

{% extends "base.html" %}

{% block head_title %}
    Manage Subscription
{% endblock head_title %}

{% block content %}


    <div class="login-form-container">       
        <h1>Manage Subscription</h1>
        <p>Your subscription is active.</p>
        <form action="{% url 'manage_subscription' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cancel Subscription</button>
        </form>
      
       
    </div>

{% endblock content %}
