<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Default description{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}english, quiz, learning{% endblock %}">
    <title>{% block title %}Pimp My English{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="body-css">
    <header class="header-css">
        <nav>
            <ul  class="menu">
                <li><a href="{% url 'landing' %}">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'quiz_settings' %}">Quiz Settings</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="main-css">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Pimp My English. All rights reserved.</p>
        <nav>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Newsletters</a>
        </nav>
        <div class="social-icons">
            <a href="#" class="social-icon" title="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon" title="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </footer>
  
    <div id="toast-container" class="toast-container"></div>
    
    <div id="autostart" data-autostart="{{ autostart }}" style="display: none;"></div>
    
    
    <script src="{% static 'js/script.js' %}"></script>
    
    {% if messages %}
        <script id="django-messages" type="application/json">
            [{% for message in messages %}
                
                {
                    "message": "{{ message.message|escapejs }}",
                    "tags": "{{ message.tags }}"
                }{% if not forloop.last %},{% endif %}
            {% endfor %}]
        </script>
    {% endif %}

    
</body>
</html>
