<!-- templates/home.html -->

{% extends "base.html" %}
{% load static %}

{% block title %}Welcome to Pimp My English!{% endblock %}

{% block content %}

<div class="wrapper scroll-wrapper">
    <div class="home-winners-results">
        <div class="home-content">
            <br>
            <h2 class="home-title"><span>Welcome to Pimp My English&nbsp;!</span></h2>
            <br>
            <div class="home-description-div">
                <p class="home-description">Enhance your English skills with our engaging quizzes and personalized learning tools. Pimp My English is designed to make learning fun and effective for everyone, whether you are a beginner or an advanced learner.</p>
            </div>
        </div>
    
        <div class="home-content">
            <br>
            <h2 class="home-title"><span>User Roles and Subscription Plans</span></h2>
            <br>
            <div class="home-features">
                <div class="home-feature-item">
                    <h3>Subscribers</h3>
                    <p>Subscribers have access to all platform features, such as creating and editing word sets, through paid subscriptions. Enjoy personalized learning experiences!</p>
                </div>
                <div class="home-feature-item">
                    <h3>Guests</h3>
                    <p>Guests can use the service without registration or authorization, limited to accessing preset and shared word sets. Upgrade to a subscription to unlock all features.</p>
                </div>
                <div class="home-feature-item">
                    <h3>Subscription Plans</h3>
                    <p class="subscription-plan">There are two subscription plans, a cheap one and a very cheap one: €10 per month or €50 per year.</p>
                </div>
                <div class="home-feature-item">
                    <h3>Easy Subscription Management</h3>
                    <p>Manage your subscription with ease in just one click.</p>
                </div>
            </div>
        </div>
    
        <div class="home-content">
            <br>
            <h2 class="home-title"><span>Features</span></h2>
            <br>
            <div class="home-features">
                <div class="home-feature-item">
                    <h3>Interactive Quizzes</h3>
                    <p>Our quizzes are designed to test your knowledge and help you improve your English in an interactive and enjoyable way. Each quiz is tailored to different proficiency levels and covers a wide range of topics.</p>
                </div>
                <div class="home-feature-item">
                    <h3>Vocabulary Building</h3>
                    <p>Expand your vocabulary with our curated word lists and exercises. Our vocabulary building tools are designed to help you learn new words and use them effectively in different contexts.</p>
                </div>
                <div class="home-feature-item">
                    <h3>Custom Word Sets</h3>
                    <p>As a Subscriber, you can create personalized English word sets using our unique Quiz Maker tools. Tailor your learning experience to your specific needs and interests.</p>
                </div>
                <div class="home-feature-item">
                    <h3>Ready-Made Word Sets</h3>
                    <p>As a Guest save time by using our pre-made English word sets on various topics. These sets are ready to use and can help you quickly expand your vocabulary.</p>
                </div>
            </div>
        </div>
        <div class="home-content">
            <br>
            <h2 class="home-title"><span>Quick Start for Guests</span></h2>
            <br>
            <div class="home-quick-start">
                <div class="home-quick-start-item">
                    <h3>Step 1: Launch Quiz</h3>
                    <img src="{% static 'images/guest-launch-quiz.png' %}" alt="Open Quiz">
                    <p><span>Click on the "Quiz" link in menu to open Quiz window.</span></p>
                </div>
                <div class="home-quick-start-item">
                    <h3>Step 2: Select Word Set and Start Quiz</h3>
                    <img src="{% static 'images/guest-select-wordset.png' %}" alt="Select Word Set and Start Quiz">
                    <p><span>Choose a word set that interests you and click Start button.</span></p>
                </div>
                <div class="home-quick-start-item">
                    <h3>Step 3: Play Quiz</h3>
                    <img src="{% static 'images/guest-start-quiz.png' %}" alt="Play Quiz">
                    <p><span>Enjoy!</span></p>
                </div>
            </div>
        </div>
        <div class="home-content">
            <br>
            <h2 class="home-title"><span>Quick Start for Subscribers</span></h2>
            <br>
            <div class="home-quick-start">
                <div class="home-quick-start-item">
                    <h3>Step 1: Register</h3>
                    <img src="{% static 'images/subscriber-register.png' %}" alt="Register">
                    <p><span>Sign up for an account.</span></p>
                </div>
                <div class="home-quick-start-item">
                    <h3>Step 2: Subscribe</h3>
                    <img src="{% static 'images/subscribe.png' %}" alt="Subscribe">
                    <p><span>Look your profile and choose a subscription plan that suits you.</span></p>
                </div>
                <div class="home-quick-start-item">
                    <h3>Step 3: Profile</h3>
                    <img src="{% static 'images/profile.png' %}" alt="Profile">
                    <p><span>Manage your profile and choose a subscription plan that suits you.</span></p>
                </div>
                <div class="home-quick-start-item">
                    <h3>Step 4: Use Quiz Maker</h3>
                    <img src="{% static 'images/quiz-maker.png' %}" alt="Quiz Maker">
                    <p><span>Create your own word sets using the Quiz Maker tool.</span></p>
                </div>
                
                <div class="home-quick-start-item">
                    <h3>Step 5: Play Quiz</h3>
                    <img src="{% static 'images/guest-start-quiz.png' %}" alt="Start Quiz">
                    <p><span>Start your personalized quiz.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
