<!-- static/templates/landing.html -->

{% extends 'base.html' %}

{% block title %}Landing Page - Pimp My English{% endblock %}

{% block content %}
<div class="quizsquare">
    <h1 id="english-words-quiz" class="quiz-title-css">English Words Quiz</h1>

    <div id="quiz-field" class="quiz-field-css">
        <div id="question-area">
            <h2 class="quiz-task">Guess the word by definition:</h2>
            <span class="word-type"></span>
            <span class="word-definition"></span>
        </div>

        <div class="content-task-container">
            <div class="word-image">
                <img class="img-word-image" src="#" alt="">
            </div>
            <div id="answer-list-area">
                <div class="answers-container">
                    <h3 id="choose-answer">it is ...</h3>
                    <ul class="answers-list">
                        <!-- Answer options will be added here dynamically -->
                    </ul>                
                </div>             
            </div>
        </div>
        
        <div class="control-buttons">
            <button id="stop-button">Stop</button>
            <div id="timer-spinner" class="timer-spinner">30</div>
            <button id="next-button">Next</button>
        </div>
        
        <div id="score-area" class="score-area">
            <div class="score-label">
                Answered/Total:
                <span id="answered-count" class="count">0</span>&nbsp;/&nbsp;
                <span id="total-count" class="count">0</span>
            </div>
            <div class="score-label">
                Right/Wrong:
                <span id="right-count" class="count right-count">0</span>&nbsp;/&nbsp;
                <span id="wrong-count" class="count wrong-count">0</span>
            </div>
        </div>
    </div>

    <div id="statistic-window">
        <div id="winner-quiz-field" class="winners-results">
            <table id="winners-table" class="winners-table">
                <caption>Winners Results</caption>
                <thead>
                   
                        <th>Place</th>
                        <th>Attempt</th>
                        <th>Scores</th>
                        <th>Time</th>
                
                </thead>
                <tbody>
                    <!-- Winners' results will be added here dynamically -->
                </tbody>
            </table>                
        </div>
    </div>

    <div id="rules-start-settings" class="rules-start-settings">
        <a href="{% url 'rules' %}" id="rules-link" class="rules-link">Rules</a>
        <select id="wordSetSelectLanding" class="word-set-select landing-select">
            <option value="0">Select Word Set</option>
            {% for ws in word_sets %}
            <option value="{{ ws.id }}" data-description="{{ ws.description }}" data-name="{{ ws.name }}" data-rating="{{ ws.rating }}" {% if ws.id|stringformat:"i" == selected_word_set|stringformat:"i" %}selected{% endif %}>
                {{ ws.name }}
            </option>
            {% endfor %}
        </select>
        <button id="start-quiz-button" disabled>Start</button>
        <a href="{% url 'quiz_settings' %}" id="settings-link" class="settings-link">Settings</a>
    </div>
</div>
<div id="hidden-filtered-words" data-words="{{ filtered_words|join:', ' }}" style="display: none;"></div>
<div id="hidden-unused-words" data-words="{{ unused_words|join:', ' }}" style="display: none;"></div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const wordSetSelectLanding = document.getElementById('wordSetSelectLanding');
    const hiddenFilteredWordsDiv = document.getElementById('hidden-filtered-words');
    const settingsLink = document.getElementById('settings-link');
    const startQuizButton = document.getElementById('start-quiz-button');
    let quiz = new Quiz();

    function generateStars(rating) {
        let stars = '';
        for (let i = 1; i <= 5; i++) {
            if (i <= rating) {
                stars += '&#9733;'; // filled star
            } else {
                stars += '&#9734;'; // empty star
            }
        }
        return stars;
    }

    function updateOptionsWithStars() {
        const options = wordSetSelectLanding.options;
        for (let i = 0; i < options.length; i++) {
            const option = options[i];
            const rating = option.getAttribute('data-rating');
            if (rating) {
                option.innerHTML = `${option.getAttribute('data-name')} &nbsp; &nbsp; ${generateStars(rating)}`;
            }
        }
    }

    function fetchFilteredWords(wordSetId) {
        hiddenFilteredWordsDiv.dataset.words = '';
        quiz.showSpinner();
        startQuizButton.disabled = true; // Disable the start button

        let url = wordSetId ? `/wordsets/${wordSetId}/words/` : `/wordsets/0/words/`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                hiddenFilteredWordsDiv.dataset.words = data.words.join(', ');
                quiz.update(data.words).then(() => {
                    quiz.hideSpinner();
                    startQuizButton.disabled = false; // Enable the start button
                });
            })
            .catch(error => {
                console.error("Error fetching filtered words:", error);
                quiz.hideSpinner();
            });
    }

    wordSetSelectLanding.addEventListener('change', function () {
        const selectedWordSetId = this.value;
        fetchFilteredWords(selectedWordSetId);
    });

    startQuizButton.addEventListener('click', () => {
        const selectedWordSetId = wordSetSelectLanding.value;
        fetchFilteredWords(selectedWordSetId);
    });

    const autostart = document.getElementById('autostart');
    if (autostart && autostart.dataset.autostart === '1') {
        const defaultWordSetId = wordSetSelectLanding.value;
        if (defaultWordSetId) {
            fetchFilteredWords(defaultWordSetId);
        }
    }

    settingsLink.addEventListener('click', (event) => {
        event.preventDefault();
        const selectedWordSetId = wordSetSelectLanding.value;
        if (selectedWordSetId && selectedWordSetId !== "0") {
            const settingsUrl = `/quizzes/settings?word_set_id=${selectedWordSetId}`;
            window.location.href = settingsUrl;
        } else {
            const settingsUrl = "/quizzes/settings";
            window.location.href = settingsUrl;
        }
    });

    updateOptionsWithStars();
});

</script>

{% endblock %}
