{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <div class="content-header">
        <h1 class="content-title">Terms and Conditions</h1>
    </div>
    <div class="content-body">
        <p>Welcome to Pimp My English. These terms and conditions outline the rules and regulations for the use of our website and services.</p>

        <h2>Acceptance of Terms</h2>
        <p>By accessing our website and using our services, you agree to comply with these terms and conditions. If you do not agree with any part of these terms, you must not use our website.</p>

        <h2>Changes to Terms</h2>
        <p>We reserve the right to modify these terms at any time. We will notify you of any changes by posting the updated terms on this page. Your continued use of the site following any changes indicates your acceptance of the new terms.</p>

        <h2>Use of Our Services</h2>
        <p>You agree to use our services only for lawful purposes. You must not:</p>
        <ul>
            <li>Use our services in any way that causes, or may cause, damage to the website or impairment of its availability or accessibility</li>
            <li>Use our services in any way that is unlawful, illegal, fraudulent, or harmful</li>
            <li>Conduct any systematic or automated data collection activities on or in relation to our website</li>
        </ul>

        <h2>Intellectual Property</h2>
        <p>All content included on this site, such as text, graphics, logos, images, and software, is the property of Pimp My English or its content suppliers and is protected by international copyright laws.</p>

        <h2>Limitation of Liability</h2>
        <p>Our services are provided "as is" without any warranties or guarantees. Pimp My English will not be liable for any damages of any kind arising from the use of our services, including but not limited to direct, indirect, incidental, punitive, and consequential damages.</p>

        <h2>Termination</h2>
        <p>We may terminate or suspend your access to our services immediately, without prior notice or liability, for any reason whatsoever, including if you breach the terms.</p>

        <h2>Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of our country, and you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about these terms and conditions, please contact us at gedurvo@gmail.com.</p>
    </div>
</div>
{% endblock content %}
